<footer class="site-footer">
	<img class="footer-grass footer-grass--left" src="/images/grass-left.png" alt="" />
	<div class="footer-content">
		<p>Made with <span class="love">♥</span> in Helsinki.</p>
		<p>© Ira Baraton <%= new Date().getFullYear() %>
		</p>
	</div>
	<img class="footer-grass footer-grass--right" src="/images/grass-right.png" alt="" />
</footer>

<script src="/scripts/main.js"></script>
</body>

</html>