
  <footer class="footer site-footer mt-auto py-4">
  <div class="container text-center">


    <img
      src="/images/toad.png"
      alt="Edamame Frog"
      class="footer-logo m-3"
    >

    <p class="text-body-secondary mb-1">
      Made with ❤️ in Helsinki.
    </p>

    <p class="text-body-secondary mb-0">
      © Edamame Frog
      <% const today = new Date(); %>
      <%= today.getFullYear(); %>
    </p>

  </div>
</footer>


<script src="/scripts/main.js"></script>
</body>

</html>