<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Barriecito&family=Potta+One&family=Sacramento&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>Croak & Chatter</title>
	</head>
	<body>
		<!-- FULL HEADER BACKGROUND -->
		<header class="site-header">
			<!-- Centered title content -->
			<div class="container text-center py-4">
				<h1 class="potta-one-regular">CROAK & CHATTER</h1>
				<p class="undertitle">
					A forum for frogs, toads, and those emotionally adjacent to them
				</p>
			</div>

			<div class="header-divider"></div>
		</header>
		<!-- Full-width navbar -->
		<!-- Navbar -->
		<nav class="site-nav pt-0">
			<div class="container d-flex justify-content-center">
				<ul class="nav pond-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="/">Hot in the Pond</a>
					<li class="nav-item">
						<a class="nav-link" href="/">Confessions from the Reeds</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About this Pond</a>
					</li>
				</ul>
			</div>
		</nav>

