<section class="hero" aria-labelledby="bubbling-title">
	<div class="bubbling-card">
		<h1 id="bubbling-title">What’s Bubbling<br />In Your Throat Today?</h1>
		<div class="bubbling-action">
			<img src="/images/toad.png" alt="" />
			<a href="#croakForm">Release a Croak</a>
		</div>
	</div>
</section>
