<div class="container bubble">
    <div class="bubblingArea">
        <h2 class="bubblingText potta-one-regular">"What’s bubbling in your throat today?"</h2>
        <div class="bubblingTop">
            <img src="/images/toad.png" alt="sitting toad" class="bubblingIcon" />
            <a href="#croakForm" id="bubblingCroak" class="potta-one-regular">Release a Croak</a>
        </div>


    </div>
</div>