<section class="keepclean">

    <!-- LEFT SIDE -->
    <div class="cleanLeft">

        <img src="images/bucket.png" alt="Cleaning bucket" class="bucketImage" />


        <div class="cleanText">

            <h3 class="cleanTitle">
                Keep the pond clean!
            </h3>

            <p class="cleanDescription">
                Please wipe your feet
                <span class="before">before</span>
                entering the pond.
            </p>

        </div>



    </div>


    <!-- CENTER FORM -->
    <div id="croakArea">

        <form id="croakForm" action="/submit" method="POST">

            <!-- top row -->
            <div class="topInputs">

                <input type="text" id="authorInput" name="author" placeholder="Your name" />

                <input type="text" id="titleInput" name="title" placeholder="Title" />

            </div>

            <textarea name="comment" id="commentInput" rows="4" placeholder="Write your croak here..."></textarea>

            <button class="croakButton potta-one-regular" type="submit" id="croakButton">
                CROAK!
            </button>

        </form>

    </div>


    <!-- RIGHT SIDE -->
    <div class="cleanRight">

        <img src="images/cleaning-frog.png" alt="Frog cleaning pond" class="cleanFrog" />

    </div>

</section>