<%- include("partials/header.ejs") %>

<div class="container">
	<div class="aboutCroak">
		<h1>About Croak and Chatter</h1>

		<div class="about-columns">
			<div class="column">
				<p>
					Croak & Chatter began as a simple capstone project for Angela Yu's
					Udemy course and quickly turned into something far more amphibious
					than planned. I didn’t keep track of the hours spent on it -- partly
					because I knew I wouldn’t be satisfied with any default template, and
					partly because time gets a bit slippery around ponds.
				</p>
				<p>
					After my slightly unhinged tweak on Tinder earlier in the course (the
					<em>Bunder</em> project), I realised that <em>Toadr</em> would have
					been an excellent concept too. Unfortunately, that ship had sailed.
					Frogs, however, had not. They offered humor, charm, and just the right
					amount of weird. Because of that, I decided to dedicate this blog to
					them instead.
				</p>
				<p>
					Add to that a few friends who are absolutely nuts about frogs, and the
					idea felt inevitable. Thus, Croak & Chatter was born. Somewhere along
					the way, I got so absorbed in layouting and tweaking that I completely
					forgot about my hot chocolate (which almost never happens).
				</p>
			</div>

			<div class="column">
				<p>
					This is, at its heart, a simple and very, <strong>very</strong> broken
					project. There is so much I want to fix and even more that I would
					love to add. Most importantly, the posts you create do not save, as
					there is no database lurking beneath the pond. It was built using my
					newly acquired knowledge of EJS, Node, and Express, held together with
					enthusiasm and highly questionable CSS decisions.
				</p>

				<p>
					(Please do not inspect the CSS too closely just yet. It is a
					gargantuan mess. Let’s say I thrived in creative chaos while making
					this. If you do look at it, know that I cower and hide in shame.)
				</p>

				<p>
					If Croak & Chatter entertained you even briefly, then it has done its
					job. And if you are visiting from the future while doing Angela Yu’s
					course, I hope this inspires you to lean into your own strange ideas.
					My favourite feature <strong>by far</strong> is that it croaks.
				</p>

				<p>
					The lovely toad icon on the footer is by Darius Dan from Flaticon. All
					other graphics were drawn by me.
				</p>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer.ejs") %>
